Flask==0.10.1
Flask-SQLAlchemy==1.0
Jinja2==2.7.3
MarkupSafe==0.23
SQLAlchemy==0.9.6
WTForms==2.0.1
Werkzeug==0.9.6
ajax==1.1.0
argparse==1.2.1
decorator==3.4.0
itsdangerous==0.24
php==1.0
wsgiref==0.1.2
