<!-- 
<!DOCTYPE html>
<html> -->
{% extends "layout.html" %}

{% block head %}
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link type = "text/css" rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript" src="../static/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="../static/js/guide_view_trip.js"></script>
{% endblock %}

{% block body %} 
<!-- <body>
 -->    <div id="map-canvas"
              data-traveler-current-lat='{{trip.traveler_current_lat}}' 
              data-traveler-current-long='{{trip.traveler_current_long}}'
              data-traveler-destination-lat='{{trip.traveler_destination_lat}}'
              data-traveler-destination-long='{{trip.traveler_destination_long}}'>
        </div>
<script>
//Accept voyage button -- add button to send information to route for Status table
$(document).ready(function(){
  $("#guide_accept_voyage").click(function(){ //current page
   $.ajax({
   	"url":"/guide_accept_voyage", //next page
   	"type": "POST"
   }).done(function(res)
   {
   	//This runs when the call is successful
   	console.log("OK", res);
   	$('#under_map').html(res);
   	setupCommenceVoyage();
   }).always(function(res)
   {
   	//This runs ALWAYS whether it fails or not
   	console.log("ALWAYS", res);
   }).fail(function(res)
   {
   	//This runs when the call fails as in 404 or Internal server error 500
   	console.log("BOOO", res);
   });
  });
});

function setupCommenceVoyage() {
	$("#guide_commence_voyage").click(function(){ //current page
   console.log("clicked on the new P");
   $.ajax({
   	"url":"/guide_commence_voyage", //next page
   	"type": "POST"
   }).done(function(res)
   {
   	//This runs when the call is successful
   	console.log("OK", res);
   	$('#under_map').html(res);
   	setupCompleteVoyage();
   }).always(function(res)
   {
   	//This runs ALWAYS whether it fails or not
   	console.log("ALWAYS", res);
   }).fail(function(res)
   {
   	//This runs when the call fails as in 404 or Internal server error 500
   	console.log("BOOO", res);
   });
  });
}

function setupCompleteVoyage() {
	$("#guide_complete_voyage").click(function(){ //current page
	console.log("clicked on the new P");
   $.ajax({
   	"url":"/guide_complete_voyage", //next page
   	"type": "POST"
   }).done(function(res)
   {
   	//This runs when the call is successful
   	console.log("OK", res);
    window.location = res;
   }).always(function(res)
   {
   	//This runs ALWAYS whether it fails or not
   	console.log("ALWAYS", res);
   }).fail(function(res)
   {
   	//This runs when the call fails as in 404 or Internal server error 500
   	console.log("404", res);
   });
  });	
}

</script>
<div id="under_map">
<p id="guide_accept_voyage">Accept voyage</p>
</div>
<!-- </body>
 -->
<!-- </html>
 -->{% endblock %}