<!DOCTYPE HTML>
<html>
  
  <body>
    
    <h2>
      Log in
    </h2>
    <div id="login">
      <form action="{{url_for("login")}}" method="POST">
        <form method="link" action="http://localhost:5000/login">
          <input type="Submit" value="Submit">
        </form>
      </div>
      
      <h2>
        Register account
      </h2>
      <div id="new-user">
        <form action="{{url_for("register")}}" method="POST">
          <input type="submit">
      </form>
      </div>
      
  </body>
  
  </html>