<!-- <!DOCTYPE html>
<html>
    <body> -->
{% extends "layout.html" %}
{% block body %}   
        <h2>
            Step 1: Pick your role.
        </h2>
        <form action="{{url_for('register_post')}}" method="post">
            <input name="role" type="radio" value="0">I want to be a traveler. Request other people (guides) to walk with you on your voyages.<br>
            <input name="role" type="radio" value="1">I want to be a guide.
            Make yourself available to walk with other people (travelers) on their voyages.<br>
            <input name="role" type="radio" value="2">I want to be a
            traveler and a guide. Request others to walk with you or help others on their voyages. Pick which one when you open the app.
        </form>
               <h2>
            Step 2: Create account
        </h2>
            <div id="new-user">
            <form action="{{url_for('register_post')}}" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="first_name">First Name</label> <input name=
                    "first_name" type="text">
                </div>
                <div>
                    <label for="last_name">Last Name</label> <input name=
                    "last_name" type="text">
                </div>
                <div>
                    <label for="email">Email</label> <input name="email" type="email">
                </div>
                <div>
                    <label for="phone">Phone</label> <input name="phone" type=
                    "phone"><!-- look up type="phone"/"tel"? -->
                </div>
                <div>
                    <label for="password">Password</label> <input name=
                    "password" type="password">
                </div>
                Upload your image <input id="photoimg" name="photoimg" type=
                "file">
                <input type="submit"> 
            </form>
{% endblock %}
            </div>
<!--     </body>
</html> -->
