<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <h2>
            Step 2: Create account
        </h2>{% block body %}
        <div id="new-user">
            <form method="POST" enctype="multipart/form-data">
                <div>
                    <label for="first_name">First Name</label> <input name=
                    "first_name" type="text">
                </div>
                <div>
                    <label for="last_name">Last Name</label> <input name=
                    "last_name" type="text">
                </div>
                <div>
                    <label for="email">Email</label> <input name="email" type="text">
                </div>
                <div>
                    <label for="phone">Phone</label> <input name="phone" type=
                    "text">
                </div>
                <div>
                    <label for="password">Password</label> <input name=
                    "password" type="password">
                </div>
                Upload your image <input id="photoimg" name="photoimg" type=
                "file">
            <input type="submit"> 
            </form>
            <!-- {% endblock %} -->
        </div>
    </body>
</html>