{% extends "layout.html" %}

{% block head %}
 <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
<meta charset="utf-8">
<link type = "text/css" rel="stylesheet" href="/static/css/style.css">
<script type="text/javascript" src="../static/js/jquery-1.11.1.js"></script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false&libraries=places"></script>
<script type="text/javascript" src="../static/js/traveler_view.js"></script>
{% endblock %}

{% block body %} 
<!-- <body>
 -->    <div id="map-canvas"></div>
<!--     <div id="controls" class="enterLocation">
        <form id="locations">
            <input type="text" placeholder="Current Location" id="currentLocation">
            <input type="text" placeholder="Destination" id="destination">
            <input type="submit" value="Request Voyage"> -->
            <div id="mapCanvas"></div>

        </form>
        </div>
<script>
function checkStatus(){
	console.log("is this working");
	$.ajax({
		"url":"/traveler_status", 
		"type": "GET" 
	}).done(function(res) {
		if res = empty datetime_accepted {
		    $('#pending').show();
		} else if res = complete datetime_accepted {
		    $('#confirmed').show();
		    $$('#pending')[0].hide();
		} else if res = complete datetime_commenced {
		    $('#commenced').show();
		    $$('#pending')[0].hide();
		} else if res = complete datetime_completed {
		    $('#traveler_rate_your_guide').load("/traveler_rate_your_guide.html");
		}
		//This runs when the call is successful
		//if res = commenced
			//then call next function and show that it's commenced
			// else 
		console.log("OK", res);
		$('#under_map').html(res);
		setupConfirmedStatus();
		setTimeout(checkStatus,3000);
	}).always(function(res) {
		//This runs ALWAYS whether it fails or not
		console.log("ALWAYS", res);
	}).fail(function(res) {
		//This runs when the call fails as in 404 or Internal server error 500
		console.log("BOOO", res);
   	});
}
$(document).ready(function(){
	setTimeout(checkStatus,3000);
});


</script>
<div id="under_map">
<p id="traveler_pending_status">Voyage pending</p>
</div>
<!-- </body>
 -->
<!-- </html>
 -->{% endblock %}